.tittle{
    text-align: center;
    margin-top: 2%;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.button{
    margin-right: 1%;
}