.button {
    padding-top: 1.5%;
}

.block_border {
    border-style: solid;
    border-color: black;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
}